<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="Pivotal Gadget" description="Creates Pivotal Tracker stories from emails." height="100" author="Wojciech Kruszewski" author_email="wojciech@oxos.pl" author_location="Nowa Sol, Poland">

    <Require feature="google.contentmatch">
      <Param name="extractors">google.com:SubjectExtractor</Param>
    </Require>

  </ModulePrefs>

  <Content type="html" view="card">
    <![CDATA[
      <p>AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH
      AAAAAARRRRRRGHGGGGHHHHHH</p>
    ]]> 
  </Content>
</Module>

