<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="GeePivo"
    description="Creates Pivotal Tracker Stories from Emails (oxospl.nazwa.pl, 004)"
    height="50"
    author="Wojciech Kruszewski (OXOS.pl)"
    author_email="wojciech@oxos.pl"
    author_location="Nowa Sól, Poland">

    <!-- Declare feature dependencies. -->

    <!-- This one is not specific to Gmail contextual gadgets. -->
    <Require feature="dynamic-height"/>
    
    <Require feature="setprefs"/>

    <!-- The next feature, Caja, is optional, and is supported for
     use only within test domains. Uncomment the tag only for
     non-production gadgets. -->
    <!-- <Require feature="caja"/> -->

    <!-- The next feature, google.contentmatch, is required for all
     Gmail contextual gadgets.
     <Param> - specify one or more comma-separated extractor IDs in
     a param named "extractors". This line is overridden by the extractor ID
     in the manifest, but is still expected to be present. -->
    <Require feature="google.contentmatch">
      <Param name="extractors">
        google.com:SubjectExtractor
      </Param>
    </Require>

  </ModulePrefs>

  <!-- Define the content type and display location. The settings
   "html" and "card" are required for all Gmail contextual gadgets. -->
  <Content type="html" view="card">
      <![CDATA[	<span></span>

      <div id='gadget_container' style='position:relative; display: none; margin:0px; padding:0px;'>

      	<div style='widh: 100px; position:absolute; top:3px; left:3px;'>
      	  <button class="create_story_button">Create Story</button>
      	</div>

      	<div class='notification_area' style=' position:absolute; top:3px; left:113px;'>&nbsp;</div>

      	<div style='widh: 100px; position:absolute; top:3px; right:3px;'>
      	  <a href="#" id='toggle_settings_button' style='font-size: small; text-decoration:none;'>settings ▼</a>
      	</div>

      	<div style='clear:both;'></div>

      	<div id='settings' style='font-size: small; display:none; padding-top:30px;'>
      	  <p>
      	    <label>Pivotal API Token
      	      <input name="pivotal_api_token" />
      	    </label>
      	  </p>

      	  <p>
      	    <label>Project ID
      	    <input name="project_id" /></label>
      	  </p>

      	  <p>
      	    <label>Story type
      	    <input name="story_type" /></label>
      	  </p>

      	  <p>
      	    <label>Requested by
      	    <input name="requested_by" /></label>
      	  </p>

      	  <p>
      	    <label>Integration ID
      	    <input name="integration_id" /></label>
      	  </p>

      	  <p>
      	    <label>Owned by
      	    <input name="owned_by" /></label>
      	  </p>

      	  <input type='submit' class='save_settings_button' value="Save settings" />
      	</div>

      	</div>

      	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
      	<script src="http://mustache.github.com/extras/mustache.js"></script>
      	<script src="<%=@root_url%>/gadget.js"></script>
      ]]>
  </Content>
</Module>

