<?xml version="1.0" encoding="UTF-8"?>
<Module>
  <ModulePrefs title="GeePivo"
    description="Creates Pivotal Tracker Stories from Emails (<%= @app_suffix %>)"
    height="20"
    author="Wojciech Kruszewski (OXOS.pl)"
    author_email="wojciech@oxos.pl"
    author_location="Nowa Sól, Poland">

    <!-- Declare feature dependencies. -->

    <!-- This one is not specific to Gmail contextual gadgets. -->
    <Require feature="dynamic-height"/>

    <!-- The next feature, Caja, is optional, and is supported for
     use only within test domains. Uncomment the tag only for
     non-production gadgets. -->
    <!-- <Require feature="caja"/> -->

    <!-- The next feature, google.contentmatch, is required for all
     Gmail contextual gadgets.
     <Param> - specify one or more comma-separated extractor IDs in
     a param named "extractors". This line is overridden by the extractor ID
     in the manifest, but is still expected to be present. -->
    <Require feature="google.contentmatch">
      <Param name="extractors">
        google.com:SubjectExtractor
      </Param>
    </Require>

  </ModulePrefs>

  <!-- Define the content type and display location. The settings
   "html" and "card" are required for all Gmail contextual gadgets. -->
  <Content type="html" view="card">
    <![CDATA[
      <p>GeePivo 2 (<%= @app_suffix %>)</p>
    ]]>
  </Content>
</Module>

