<style type="text/css" media=screen>
<!--
  <% Dir['stylesheets/*.css'].each do |fname| %>
    <%= File.read fname %>
  <% end %>
-->
</style>

      <div id='gadget_container' style='position:relative; display: none; margin:0px; padding:0px;'></div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script type="text/javascript">
        <% Dir['javascripts/*.js'].each do |fname| %>
          <%= File.read fname %>
        <% end %>
        <% Dir['templates/*.js'].each do |fname| %>
          <%= File.read fname %>
        <% end %>
        <% Dir['/coffeescripts/*.js'].each do |fname| %>
          <%= File.read fname %>
        <% end %>
        window.initializeGeepivoGadget();
      </script>
