<style type="text/css" media=screen>
<!--
<%= read_file "public/geepivo.css" %>
-->
</style>

      <div id='gadget_container' style='position:relative; display: none; margin:0px; padding:0px;'></div>
      <p style='display: none;'><%=@git_revision%></p>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script src="<%=@root_url%>/geepivo.js"></script>
      <script type="text/javascript">
        window.root_url = '<%=@root_url %>';
        window.initializeGeepivoGadget();
      </script>
