<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset=utf-8 /> 
<meta name="viewport" content="width=620" /> 

<title>Geepivo</title> 
</head>

<body>

<h1>Geepivo - Pivotal Tracker integration for Google Apps</h1>

<p>Pivotal Tracker™ integration for Google Apps™. Provides a gadget for Gmail which allows you to create Stories directly from emails.</p>

<p><em>Soon in the Google Solutions Marketplace.</em></p>

<iframe src="http://player.vimeo.com/video/27694831?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe>

<p>
Install alpha version:
<form action='/install' method='POST'>
	<label>Your Google Apps domain: <input type='text' name='domain' /></label>
  <input type='submit' value='Install' />
</form>
</p>

<ul>
<li><a href='https://github.com/wojciech/GeePivo'>Source code on Github (Open Source)<a></li>
<li><a href='http://getsatisfaction.com/geepivo'>support</a</li>
</ul>

</body>
</html>
