<!DOCTYPE html PUBLIC "-//W3C//DTD XHT
ML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta charset=utf-8 /> 

<title>Geepivo</title> 
</head>

<body>

<h1>Geepivo - Pivotal Tracker integration for Google Apps</h1>

<p>Pivotal Tracker™ integration for Google Apps™. Provides a gadget for Gmail which allows you to create Stories directly from emails.</p>

<p><em>Soon in the Google Solutions Marketplace.</em></p>

<iframe src="http://player.vimeo.com/video/27694831?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0"></iframe>

<h2>Install</h2>
<p>
<form action='/install' method='POST'>
  <label>Your Google Apps domain: <input type='text' name='domain' /></label>
  <input type='submit' value='Install' />
</form>
</p>
<p>
Notes: It's only for Gmail in <a href='http://www.google.com/apps/intl/en/group/index.html'>Google Apps</a>, that is Gmail hosted in your own domain.<br />
It sometimes takes up to half an hour after installing the app before the gadget starts appearing below your emails.
</p>

<h2>Use it</h2>
<ol>
<li>Log in to Gmail and open an email. A "gadget" should appear below the email.</li>
<li>Enter your PivotalTracker API token, select a project, save settings.</li>
<li>Hit "Create story"! You can fill some extra settings, there should be contextual help for them.</li>
</ol>

<h2>Get in touch</h2>
<ul>
<li>A service provided by <a href='http://oxos.pl'>OXOS.pl</li>
<li><a href='http://getsatisfaction.com/oxos/products/oxos_geepivo'>support</a</li>
<li><a href='https://github.com/wojciech/GeePivo'>Source code on Github</a> - yup, it's Open Source!</li>
</ul>

</body>
</html>
