<!--
- Copyright 2010 Google Inc.
-
- Licensed to the Apache Software Foundation (ASF) under one
- or more contributor license agreements. See the NOTICE file
- distributed with this work for additional information
- regarding copyright ownership. The ASF licenses this file
- to you under the Apache License, Version 2.0 (the "License");
- you may not use this file except in compliance
- with the License. You may obtain a copy of the License at
-
-     http://www.apache.org/licenses/LICENSE-2.0
-
- Unless required by applicable law or agreed to in writing,
- software distributed under the License is distributed on an
- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
- KIND, either express or implied. See the License for the
- specific language governing permissions and limitations
- under the License.
-->
<html>
    <head>
        <title>Google Apps Marketplace "Hello World" Tutorial</title>
        <link href="site.css" media="screen" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <h1>Apps Marketplace Hello World</h1>
            <ul>
                  <% if authenticated? %>
                  <li>Welcome <%= @user_attrs[:first_name] %>(<%= @user_attrs[:email] %>)</li>
                  <li><a href="/logout">Log out</a></li>
                  <% else %>
                  <li><a href="/login">Log in</a></li>
                  <% end %>
            </ul>
        </header>
        <div id="content">
          <div id="main_content">
            <%= yield %>
          </div>
        </div>

        <footer>
            <div>
                <p>Get your app in the <a href="http://www.google.com/enterprise/marketplace">Google Apps Marketplace</a>.  Learn more <a href="http://code.google.com/googleapps/marketplace">here.</a>
            </div>
        </footer>
    </body>
</html>