<div style='widh: 100px; position:absolute; top:3px; left:3px;'>
  <button class="create_story_button">Create Story</button>
</div>

<div class='notification_area' style=' position:absolute; top:3px; left:113px;'>&nbsp;</div>

<div style='widh: 100px; position:absolute; top:3px; right:3px;'>
  <a href="#" id='toggle_settings_button' style='font-size: small; text-decoration:none;'>settings ▼</a>
</div>

<div style='clear:both;'></div>

<div id='settings' style='font-size: small; display:none; padding-top:30px;'>
  <div class='pivotal_api_token'>
    <label>Pivotal API Token *
      <input name="pivotal_api_token" disabled='disabled' />
      <a href='#' id='edit_pivotal_api_token'>enter new api token</a>
    </label>
    <span class='help'>To get an API token log in to PivotalTracker, open <em><a href='https://www.pivotaltracker.com/profile'>Profile</a></em> form, scroll down to <em>API Token section</em> and click <em>Create New Token</em>.</span>
  </div>
  
  <div>
    <label>Project ID *
      <select name="project_id" />
    </label>
    <span class='help'>ID of a PivotalTracker project Geepivo will create stories in. You can find project ID at the end of project URL, e.g.: https://www.pivotaltracker.com/projects/12345</span>.
  </div>
  
  <div>
    <label>Story type (optional):
    <input name="story_type" /></label>
    <span class='help'>One of following: "feature", "chore" or "bug". Leave the field empty to use the default value - "feature".</span>
  </div>
  
  <div>
    <label>Requested by (optional):
    <input name="requested_by" /></label>
    <span class='help'>Optionally specify user who will be notified about story delivery and prompted to accept or reject it. By default it's the owner of API token. Enter "Full Name" here, as visible in Pivotal Tracker's story form.</span>.
  </div>
  
  <div>
    <label>Owned by (optional):
    <input name="owned_by" /></label>
    <span class='help'>User the story will be assigned to. By default the story is not assigned. Enter "Full Name" here, as visible in Pivotal Tracker's story form.</em>.</span>
  </div>

  <div>
    <label>Integration ID (optional):
    <input name="integration_id" /></label>
    <span class='help'>Experimental hack. Configure "External Integration" in Pivotal Tracker and it will be filled with Story ID. Set base URL of the integration to something like <em>https://mail.google.com/mail/u/0/?shva=1#search/</em>, story ID will be prepended and you will be able to search for emails that contain links to the story.</em>.</span>
  </div>
  
  <input type='submit' class='save_settings_button' value="Save settings" />
</div>
